<center><h2>Update Profile</h2></center>
<hr>
<%= form_for @user, :html => {  :class => 'form-horizontal',:style => "padding-left: 200px" } do |f| %>
    <div class="control-group">
      <%= f.label :name, "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :Email, "Email", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :image,:class => "control-label"%><br />
      <div class="avatar_uploader">
        <%= f.file_field :avtar %>
      </div>
    </div>
    <div class="form-actions">

      <%= f.submit "Update Profile", class: "btn btn-small btn-primary", id: "submit" %>
    </div>

<% end %>