<div class="well big-well span8">
  <%= render 'follow_form' if signed_in? %>
  <!--<%#= render 'shared/stats' %>-->

  <div class ="prof">
    <%= image_tag @user.image, :class=>"resize_image" %><br>
    <%#= gravatar_for @user %>
  </div>
  <h3>Name : <%= @user.name %></h3>

  <h3>Email : <%= @user.email %></h3>



  <h3>Posts :</h3>
  <% @posts.each do |post| %>

      <div class="comments">

        <%#= post.content %>
        <%= link_to post.content ,post_path(post) %><br>
    <span class="timestamp">
Posted <%= time_ago_in_words(post.created_at) %> ago. <br>
</span>

        <br>

        <%#= render partial: "shared/comment" %>

        <!--Comment:-->
        <!--<%#= @comments = post.content %>-->
        <!--<%#= @comments.each do |comment| %>-->
        <!--<#% @comments = post.comments %>-->
        <!--<%#= @comments.each do |comment| %>-->
        <%#= comment.body %><br>
        <!--&lt;!&ndash;&ndash;&gt;-->
        <%#= link_to post.content ,post_path(post) %> <br>
        <!--<#% end %>-->

      </div>
  <% end %>

  <!--</div>-->


  <!--</div>-->

<%= will_paginate @posts %>