<h3>Post</h3>
<tr xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <td class="post">
    <span class="content"><%= @post.content %></span>
<span class="timestamp">
Posted <%= time_ago_in_words(@post.created_at) %> ago. <br>
</span>
</td>
</tr>
<table>
<h3>Comments</h3>
  <% @comments.each do |i| %>  <br>
      <tr>
        <td>
          <%=i.body %>
        </td>
      </tr>
  <%end%>
</table>

<h3>Add a Comment</h3>
<%= form_for @comment, :url => post_comments_path(@post), :html => { :method => :post, :class => 'form-horizontal' } do |f1| %>
    <div class="control-group">
      <h3> <%= f1.label :Comment %></h3>
      <div class="controls">
      <%= f1.text_field :body %>
    </div>
    </div>
    <div class="form-actions">
      <%= f1.submit "Submit", class: "btn btn-small btn-primary" %>
    </div>

<% end %>


</span>

</td>
</td>
<% if current_user?(@post.user) %>
    <td>
      <%= link_to "delete", @post, :method => :delete,
                  :confirm => "You sure?",
                  :title => @post.content %>
    </td>
<% end %>

</tr>

<!--<h2>Add a comment:</h2>-->
<!--<%#= form_for @comment, :url => post_comments_path(@post) do |f1| %>-->
    <!--<div class="field" >-->
      <%#= f1.label :comment %><br />
      <!--<%#= f1.text_field :body %>-->
    <!--</div>-->
    <!--<div class="actions">-->
      <!--<%#= f1.submit "Submit"%>-->
    <!--</div>-->

<!--<%# end %>-->
